body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100vw;
}

p {
  margin: 0;
}

.geothermal-report p {
  margin: 0 !important;
}

.geothermal-report {
  max-width: 100%;
  width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the content */
}

#myModal {
  overflow-y: hidden;
}

.modal-header {
  cursor: move;
}

.custom-modal-title {
  margin-right: auto;
}

#myModal .modal-dialog {
  left: 5vw;
  margin-left: 0;
}