body {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

#map {
  height: 95vh;
  width: 100vw;
}

p {
  margin: 0;
}

.geothermal-report p {
  margin: 0 !important;
}

.geothermal-report {
  max-width: 100%;
  width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the content */
}

#myModal {
  overflow-y: hidden;
}

.modal-header {
  cursor: move;
}

.custom-modal-title {
  margin-right: auto;
}

#myModal .modal-dialog {
  left: 5vw;
  margin-left: 0;
  pointer-events: auto; 
}

.modal {
  pointer-events: none; /* Allow interactions with elements behind the modal */
}

.modal.show {
  pointer-events: auto; /* Enable interactions when the modal is shown */
}

.modal-backdrop {
  display: auto !important; /*none*/
}