body {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

#map {
  height: 95vh;
  width: 100vw;
}

p {
  margin: 0;
}

.geothermal-report p {
  margin: 0 !important;
}

.geothermal-report {
  max-width: 100%;
  width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the content */
}

#myModal {
  overflow-y: hidden;
}

.modal-header {
  cursor: move;
}

.custom-modal-title {
  margin-right: auto;
}

#myModal .modal-dialog {
  left: 2.4vw;
  margin-left: 0;
  top: 5.8vh;
  margin: 0;
  padding: 0;
  pointer-events: auto; 
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  box-sizing: border-box;
}

.modal {
  pointer-events: none;
}

.modal.show {
  pointer-events: auto; /* Enable interactions when the modal is shown */
}

.modal-backdrop {
  display: auto !important; /*none*/
}

#address-bar {
  display: flex;
  height: 5vh; /* Set height to 10vh */
  background-color: #2D2D2D;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  box-sizing: border-box;
  pointer-events: auto;
}

#address-input {
  flex: 1;
  font-size: 2vh;
  height: 100%;
  margin-right: 1vw;
  padding: 0;
  pointer-events: auto;
}

#address-bar button {
  height: 100%;
  font-size: 2vh;
  width: 10vw;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  pointer-events: auto;
}

#branding {
  display: flex; /* New container for "GERMAG" */
  align-items: center; /* Center the content vertically */
  margin-right: 1vw;
  pointer-events: auto;
}

#branding-text {
  font-size: 2.5vh;
  color: white;
  pointer-events: auto;
}
